{% extends "bank/layout.html" %}

{% block body %}
    <h1>Welcome, {{request.user.username}}</h1>
    <ul>
        <li>Username: {{request.user.username}}</li>
        <li>Email: {{request.user.email}}</li>
    </ul>
<!-- Your navigation menu -->

<ul>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><a href="{% url 'create_account' %}">Set Account</a></li>
    <li><a href="{% url 'account_details' %}">View Account Details</a></li>
    <li><a href="{% url 'transaction_details' %}">View Transaction Details</a></li>
    <li><a href="{% url 'transfer_funds' %}">Transfer Funds</a></li>
    <li><a href="{% url 'submit_loan_application' %}">Submit Loan Application</a></li>
    <li><a href="{% url 'cus_loan_information' %}">All Loans</a></li>
    <li><a href="{% url 'loan_payment' %}">Pay loans</a></li>

</ul>

{% endblock %}